

.theme-white{
    --font-color: #252733;
    --background-color: #ffffff;
    --additional-color: #dc007d;
}
.theme-dark{
    --font-color: #fff;
    --background-color: #252733;
    --additional-color: rgba(230, 108, 6, 0.99);
}

main{
    background-color: var(--background-color);
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
}





