.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    background-color: transparent;
}

.mobile-menu__list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: fit-content;
    min-height: 100vh;
    background-color: var(--background-color);
    padding-top: 53px;
    list-style: none;
    padding-inline: 18px;
}

.opened{
    transform: translateX(0);
    transition: transform .2s, background-color 0.2s .2s;
    background-color: rgba(255, 255, 255, 0.35);
}

@media screen and (min-width: 800px) {
    .mobile-menu{
        display: none;
    }
}
